
.Home-text {
display: flex;
justify-content: center;
margin: 13px;
font-size: 30px;
  
}

.homepage {
  color: #050505;
	background-color: rgba(203, 218, 255, 0.9);;
  height: 700px;
}
.profilePic {
  width: 5rem;
  height: 5rem;
}
/* aksj */

