/*
.padding {
  padding: 3rem !important;
  margin-left: 200px;
}

.card-img-top {
  margin-top: 10em;
  height: 800px;
  width: auto;
}

.card-no-border .card {
  border-color: #000000;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: rgba(228, 238, 255, 0.9);
  height: 900px;
  width: 100%;
  text-align: center;
}

.pro-img {
  margin-top: -120px;
  margin-bottom: 20px;
}

.little-profile .pro-img img {
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0 0 15px rgba(37, 25, 25, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  margin-top: -100px;
}

html body .m-b-0 {
  margin-bottom: 0px;
}

h3 {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  font-size: 21px;
  padding: 5px;
}

.btn-rounded.btn-md {
  padding: 12px 35px;
  font-size: 16px;
}

html body .m-t-10 {
  margin-top: 10px;
}

.btn-primary,
.btn-primary.disabled {
  background: #83dcff;
  border: 1px solid #83dcff;
  -webkit-box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14),
    0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
  box-shadow: 0 2px 2px 0 rgba(116, 96, 238, 0.14),
    0 3px 1px -2px rgba(116, 96, 238, 0.2), 0 1px 5px 0 rgba(116, 96, 238, 0.12);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-rounded {
  border-radius: 60px;
  padding: 7px 18px;
}

.m-t-20 {
  margin-top: 20px;
}

.text-center {
  text-align: center !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #455964;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

.vid {
  margin: 100px;
  padding-left: 100px;
}

.card {
  display: flex;
  align-items: center;
}

.menu-top {
  width: 100vw;
}

.profile-menu {
  background-color: rgb(251, 161, 57);
}

.profile-segment {
  height: 35vh;
} */

/* .MuiToolbar-root.MuiToolbar-regular.css-1cndkqf-MuiToolbar-root {
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: black;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: black;
  width: 100vw;
  margin: 0 auto;
} */

.body {
  height: fit-content;
}
.profile-pic {
  border-radius: 50%;
  padding-left: 20px;
  max-height: 18rem;
  max-width: 18rem;
  object-fit: contain;
}

.profile-container {
  min-height: 100vh;
  width: 100vw;
  background-image: url("https://images.pexels.com/photos/1045534/pexels-photo-1045534.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
}

.ui.segment.profile-segment {
  position: relative;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(163 153 141 / 55%);
  /* background-image: url("https://images.pexels.com/photos/4562470/pexels-photo-4562470.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover; */
}

.avatar-container {
  display: flex;
  align-items: center;
}

.userName {
  margin: 40px;
  font-size: 33px;
  font-family: system-ui;
}

.description {
  margin-bottom: 0;
  font-family: system-ui;
  padding-bottom: 90px;
  font-size: 77px;
}

.record {
  font-size: 45px;
  font-family: monospace;
  /* padding-top: 30px;
  padding-bottom: 200px; */
  padding-left: 230px;
}
.player-record {
  font-size: 33px;
}

.middle-column {
  display: flex;
  flex-direction: column;
}

.challenge-button {
  padding-left: 100px;
}

.profile-challenges {
  position: relative;
  bottom: 50em;
  margin-top: 61em;
  margin-left: 15em;
  display: flex;
  flex-direction: column;
  background-color: #d4cdc3cc;
  width: 450px;
  height: 500px;
  align-items: center;
  overflow: scroll;
  position: relative;
  bottom: 200px;
}

.ui.cards > .card > .content > .meta + .description {
  font-size: 35px;
}

.ui.animated.button {
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
  vertical-align: middle;
  z-index: 1;
  width: 350px;
  bottom: 40px;
  left: 110em;
}
