footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: rgb(42 76 130 / 91%);
  color: white;
  width: 100%;
}

.footer-links {
  text-decoration: none;
  color: white;
}

.footer-links:hover {
  color: rgb(226, 226, 226);
}
