.content-info {
  background: #d71111;
  padding: 40px 0;
  background-size: cover !important;
  background-position: top center !important;
  background-repeat: no-repeat !important;
  position: relative;
  padding-bottom: 100px
}
.leaderboardContainer {
  display: flex;
  justify-content: end;
}
table {
  width: 100%;
  background: #fff;
  border: 1px solid #dedede
}

table thead tr th {
  padding: 20px;
  border: 1px solid #dedede;
  color: #000
}

table.table-striped tbody tr:nth-of-type(odd) {
  background: #f9f9f9
}

table.result-point tr td.number {
  width: 100px;
  position: relative
}

.text-left {
  text-align: left !important
}

table tr td {
  padding: 10px 20px;
  border: 1px solid #dedede
}

table.result-point tr td .fa.fa-caret-up {
  color: green
}

table.result-point tr td .fa {
  font-size: 20px;
  position: absolute;
  right: 20px
}

table tr td {
  padding: 10px 40px;
  border: 1px solid #dedede
}

table tr td img {
  max-width: 32px;
  float: left;
  margin-right: 11px;
  margin-top: 1px;
  border: 1px solid #dedede
}