.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container {
  display: flex;
}
.score-container {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 20rem;
  height: 100vh;
  color: rgb(10, 8, 5);
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10rem;
  margin-left: 10rem;

  .score-form {
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
  }
}

.button-form {
  padding-top: 10rem;
}
.count-score {
  font-size: 6rem;
}
.button-form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3151ff;
  color: white;
  padding-top: 1rem;
}
.button-wrapper {
  display: flex;
  gap: 1rem;
  padding-bottom: 4rem;

  & > * {
    border: none;
    background-color: rgb(238, 202, 129);
    box-shadow: 0px 0px 10px gray;
    font-weight: bold;
    font-size: 2rem;
    color: inherit;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
    outline: none;
    transition: background-color 250ms ease-in-out, transform 50ms ease-in-out;

    &:hover {
      background-color: lightblue;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.form-1 {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: rem;
  padding: 2rem;
  width: 20rem;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}
